<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="test">
                        <form action="">
                            <div class="form-group">
                                <label for="region">Region</label>
                                <select name="region" id="region" class="form-control">
                                    <option value="">-- Select Region --</option>
                                    <option value="region1">Region 1</option>
                                    <option value="region2">Region 2</option>
                                    <option value="region3">Region 3</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tomb">Tomb</label>
                                <select name="tomb" id="tomb" class="form-control">
                                    <option value="">-- Select Tomb --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="room">Room</label>
                                <select name="room" id="room" class="form-control">
                                    <option value="">-- Select Room --</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- SCRIPTS -->
    <script>
        $('#region').change(function () {
            var region = $(this).val();

            if (region) {
                $('#tomb').empty();
                $('#room').empty();
                $('#tomb').append('<option value="">-- Select Tomb --</option>');

                if (region == 'region1') {
                    $('#tomb').append('<option value="tomb1">Tomb 1</option>');
                    $('#tomb').append('<option value="tomb2">Tomb 2</option>');
                    $('#tomb').append('<option value="tomb3">Tomb 3</option>');
                } else if (region == 'region2') {
                    $('#tomb').append('<option value="tomb4">Tomb 4</option>');
                    $('#tomb').append('<option value="tomb5">Tomb 5</option>');
                    $('#tomb').append('<option value="tomb6">Tomb 6</option>');
                } else if (region == 'region3') {
                    $('#tomb').append('<option value="tomb7">Tomb 7</option>');
                    $('#tomb').append('<option value="tomb8">Tomb 8</option>');
                    $('#tomb').append('<option value="tomb9">Tomb 9</option>');
                }
            } else {
                $('#tomb').empty();
                $('#room').empty();
                $('#tomb').append('<option value="">-- Select Tomb --</option>');
                $('#room').append('<option value="">-- Select Room --</option>');
            }
        });
    </script>
</body>

</html>